* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 1000px;
  /* height: 100vh; */
  background-color: black;
}

.its_me{
  height: 300px;
  border-bottom: 0.5px solid white ;
}

.img-size{
  width: 230px;
  border-radius: 100px;
}

.text-user-name{
  color: antiquewhite;
  margin: 10px 0 40px 40px;
}

.home {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid white ;
}

.text {
  margin: 20px 0 20px 40px;
  font-size: 35px;
  color: white;
}

.img {
  margin: 20px 40px 20px 0;
  width: 35px;
}

.users-avatar{
  width: 60px;
  height: 60px;
  border-radius: 50px;
  margin: 0 20px;
}

.text-color{
  color: white;
  line-height: 40px;
  margin: 0 30px;
}
