* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 1000px;
  /* height: 100vh; */
  background-color: black;
}

.its_me {
  height: 300px;
  border-bottom: 0.5px solid white;
  position: relative;
}

.img-size {
  width: 230px;
  border-radius: 100px;
}

.text-user-name {
  color: antiquewhite;
  margin: 10px 0 40px 40px;
}

#inputWhats {
  width: 500px;
  font-size: 30px;
  background-color: black;
  border: none;
  position: absolute;
  top: 90px;
  left: 250px;
  color: rgb(48, 154, 248);
}

.icon_meta__img{
  height: 55px;
  position: absolute;
  left: 240px;
}

.btn-tweet {
  width: 120px;
  height: 60px;
  border-radius: 30px;
  background-color: #1d9bf0;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  color: antiquewhite;
  position: absolute;
  bottom: 15px;
  right: 30px;
}

.home {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid white;
}

.text {
  margin: 20px 0 20px 40px;
  font-size: 35px;
  color: white;
}

.img {
  margin: 20px 40px 20px 0;
  width: 35px;
}

.users-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  margin: 0 20px;
}

.text-color {
  color: white;
  line-height: 40px;
  margin: 0 30px;
}
